@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?isqj0l') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?isqj0l') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?isqj0l##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-circle .path1 {
  &:before {
    content: $icon-check-circle-path1;  
    color: rgb(45, 89, 94);
  }
}
.icon-check-circle .path2 {
  &:before {
    content: $icon-check-circle-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-cog {
  &:before {
    content: $icon-cog;     
    color: #2d595e;
  }
}
.icon-error-circle .path1 {
  &:before {
    content: $icon-error-circle-path1;  
    color: rgb(240, 77, 37);
  }
}
.icon-error-circle .path2 {
  &:before {
    content: $icon-error-circle-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-key {
  &:before {
    content: $icon-key;     
    color: #00ba9f;
  }
}
.icon-money {
  &:before {
    content: $icon-money;     
    color: #2d595e;
  }
}
.icon-nfe .path1 {
  &:before {
    content: $icon-nfe-path1;  
    color: rgb(45, 89, 94);
  }
}
.icon-nfe .path2 {
  &:before {
    content: $icon-nfe-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-nfe .path3 {
  &:before {
    content: $icon-nfe-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-nfe .path4 {
  &:before {
    content: $icon-nfe-path4;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-nfe .path5 {
  &:before {
    content: $icon-nfe-path5;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-pen-circle .path1 {
  &:before {
    content: $icon-pen-circle-path1;  
    color: rgb(240, 77, 37);
  }
}
.icon-pen-circle .path2 {
  &:before {
    content: $icon-pen-circle-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-person {
  &:before {
    content: $icon-person;     
    color: #2d595e;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;     
    color: #2d595e;
  }
}
.icon-plus-circle {
  &:before {
    content: $icon-plus-circle;     
    color: #aab9b9;
  }
}
.icon-search {
  &:before {
    content: $icon-search;     
    color: #2d595e;
  }
}
.icon-send .path1 {
  &:before {
    content: $icon-send-path1;  
    color: rgb(202, 218, 116);
  }
}
.icon-send .path2 {
  &:before {
    content: $icon-send-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-shutdown {
  &:before {
    content: $icon-shutdown;     
    color: #f04d25;
  }
}
.icon-upload-circle {
  &:before {
    content: $icon-upload-circle;     
    color: #aab9b9;
  }
}
.icon-add-outline {
  &:before {
    content: $icon-add-outline; 
  }
}
.icon-add-solid {
  &:before {
    content: $icon-add-solid; 
  }
}
.icon-adjust {
  &:before {
    content: $icon-adjust; 
  }
}
.icon-airplane {
  &:before {
    content: $icon-airplane; 
  }
}
.icon-album {
  &:before {
    content: $icon-album; 
  }
}
.icon-align-center {
  &:before {
    content: $icon-align-center; 
  }
}
.icon-align-justified {
  &:before {
    content: $icon-align-justified; 
  }
}
.icon-align-left {
  &:before {
    content: $icon-align-left; 
  }
}
.icon-align-right {
  &:before {
    content: $icon-align-right; 
  }
}
.icon-anchor {
  &:before {
    content: $icon-anchor; 
  }
}
.icon-announcement {
  &:before {
    content: $icon-announcement; 
  }
}
.icon-apparel {
  &:before {
    content: $icon-apparel; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-arrow-left1 {
  &:before {
    content: $icon-arrow-left1; 
  }
}
.icon-arrow-outline-down {
  &:before {
    content: $icon-arrow-outline-down; 
  }
}
.icon-arrow-outline-left {
  &:before {
    content: $icon-arrow-outline-left; 
  }
}
.icon-arrow-outline-right {
  &:before {
    content: $icon-arrow-outline-right; 
  }
}
.icon-arrow-outline-up {
  &:before {
    content: $icon-arrow-outline-up; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-thick-down {
  &:before {
    content: $icon-arrow-thick-down; 
  }
}
.icon-arrow-thick-left {
  &:before {
    content: $icon-arrow-thick-left; 
  }
}
.icon-arrow-thick-right {
  &:before {
    content: $icon-arrow-thick-right; 
  }
}
.icon-arrow-thick-up {
  &:before {
    content: $icon-arrow-thick-up; 
  }
}
.icon-arrow-thin-down {
  &:before {
    content: $icon-arrow-thin-down; 
  }
}
.icon-arrow-thin-left {
  &:before {
    content: $icon-arrow-thin-left; 
  }
}
.icon-arrow-thin-right {
  &:before {
    content: $icon-arrow-thin-right; 
  }
}
.icon-arrow-thin-up {
  &:before {
    content: $icon-arrow-thin-up; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-artist {
  &:before {
    content: $icon-artist; 
  }
}
.icon-at-symbol {
  &:before {
    content: $icon-at-symbol; 
  }
}
.icon-attachment {
  &:before {
    content: $icon-attachment; 
  }
}
.icon-backspace {
  &:before {
    content: $icon-backspace; 
  }
}
.icon-backward {
  &:before {
    content: $icon-backward; 
  }
}
.icon-backward-step {
  &:before {
    content: $icon-backward-step; 
  }
}
.icon-badge {
  &:before {
    content: $icon-badge; 
  }
}
.icon-battery-full {
  &:before {
    content: $icon-battery-full; 
  }
}
.icon-battery-half {
  &:before {
    content: $icon-battery-half; 
  }
}
.icon-battery-low {
  &:before {
    content: $icon-battery-low; 
  }
}
.icon-beverage {
  &:before {
    content: $icon-beverage; 
  }
}
.icon-block {
  &:before {
    content: $icon-block; 
  }
}
.icon-bluetooth {
  &:before {
    content: $icon-bluetooth; 
  }
}
.icon-bolt {
  &:before {
    content: $icon-bolt; 
  }
}
.icon-book-reference {
  &:before {
    content: $icon-book-reference; 
  }
}
.icon-bookmark {
  &:before {
    content: $icon-bookmark; 
  }
}
.icon-bookmarkcopy2 {
  &:before {
    content: $icon-bookmarkcopy2; 
  }
}
.icon-bookmarkcopy3 {
  &:before {
    content: $icon-bookmarkcopy3; 
  }
}
.icon-bookmark-outline {
  &:before {
    content: $icon-bookmark-outline; 
  }
}
.icon-bookmark-outline-add {
  &:before {
    content: $icon-bookmark-outline-add; 
  }
}
.icon-border-all {
  &:before {
    content: $icon-border-all; 
  }
}
.icon-border-bottom {
  &:before {
    content: $icon-border-bottom; 
  }
}
.icon-border-horizontal {
  &:before {
    content: $icon-border-horizontal; 
  }
}
.icon-border-inner {
  &:before {
    content: $icon-border-inner; 
  }
}
.icon-border-left {
  &:before {
    content: $icon-border-left; 
  }
}
.icon-border-none {
  &:before {
    content: $icon-border-none; 
  }
}
.icon-border-outer {
  &:before {
    content: $icon-border-outer; 
  }
}
.icon-border-right {
  &:before {
    content: $icon-border-right; 
  }
}
.icon-border-top {
  &:before {
    content: $icon-border-top; 
  }
}
.icon-border-vertical {
  &:before {
    content: $icon-border-vertical; 
  }
}
.icon-box {
  &:before {
    content: $icon-box; 
  }
}
.icon-brightness-down {
  &:before {
    content: $icon-brightness-down; 
  }
}
.icon-brightness-up {
  &:before {
    content: $icon-brightness-up; 
  }
}
.icon-browser-window {
  &:before {
    content: $icon-browser-window; 
  }
}
.icon-browser-window-new {
  &:before {
    content: $icon-browser-window-new; 
  }
}
.icon-browser-window-open {
  &:before {
    content: $icon-browser-window-open; 
  }
}
.icon-bug {
  &:before {
    content: $icon-bug; 
  }
}
.icon-buoy {
  &:before {
    content: $icon-buoy; 
  }
}
.icon-calculator {
  &:before {
    content: $icon-calculator; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-camera {
  &:before {
    content: $icon-camera; 
  }
}
.icon-chart {
  &:before {
    content: $icon-chart; 
  }
}
.icon-chart-bar {
  &:before {
    content: $icon-chart-bar; 
  }
}
.icon-chart-pie {
  &:before {
    content: $icon-chart-pie; 
  }
}
.icon-chat-bubble-dots {
  &:before {
    content: $icon-chat-bubble-dots; 
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark; 
  }
}
.icon-checkmark-outline {
  &:before {
    content: $icon-checkmark-outline; 
  }
}
.icon-cheveron-down {
  &:before {
    content: $icon-cheveron-down; 
  }
}
.icon-cheveron-left {
  &:before {
    content: $icon-cheveron-left; 
  }
}
.icon-cheveron-outline-down {
  &:before {
    content: $icon-cheveron-outline-down; 
  }
}
.icon-cheveron-outline-left {
  &:before {
    content: $icon-cheveron-outline-left; 
  }
}
.icon-cheveron-outline-right {
  &:before {
    content: $icon-cheveron-outline-right; 
  }
}
.icon-cheveron-outline-up {
  &:before {
    content: $icon-cheveron-outline-up; 
  }
}
.icon-cheveron-right {
  &:before {
    content: $icon-cheveron-right; 
  }
}
.icon-cheveron-up {
  &:before {
    content: $icon-cheveron-up; 
  }
}
.icon-clipboard {
  &:before {
    content: $icon-clipboard; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-close-outline {
  &:before {
    content: $icon-close-outline; 
  }
}
.icon-close-solid {
  &:before {
    content: $icon-close-solid; 
  }
}
.icon-cloud {
  &:before {
    content: $icon-cloud; 
  }
}
.icon-cloud-upload {
  &:before {
    content: $icon-cloud-upload; 
  }
}
.icon-code {
  &:before {
    content: $icon-code; 
  }
}
.icon-coffee {
  &:before {
    content: $icon-coffee; 
  }
}
.icon-cog1 {
  &:before {
    content: $icon-cog1; 
  }
}
.icon-color-palette {
  &:before {
    content: $icon-color-palette; 
  }
}
.icon-compose {
  &:before {
    content: $icon-compose; 
  }
}
.icon-computer-desktop {
  &:before {
    content: $icon-computer-desktop; 
  }
}
.icon-computer-laptop {
  &:before {
    content: $icon-computer-laptop; 
  }
}
.icon-conversation {
  &:before {
    content: $icon-conversation; 
  }
}
.icon-copy {
  &:before {
    content: $icon-copy; 
  }
}
.icon-credit-card {
  &:before {
    content: $icon-credit-card; 
  }
}
.icon-currency-dollar {
  &:before {
    content: $icon-currency-dollar; 
  }
}
.icon-dashboard {
  &:before {
    content: $icon-dashboard; 
  }
}
.icon-date-add {
  &:before {
    content: $icon-date-add; 
  }
}
.icon-dial-pad {
  &:before {
    content: $icon-dial-pad; 
  }
}
.icon-directions {
  &:before {
    content: $icon-directions; 
  }
}
.icon-document {
  &:before {
    content: $icon-document; 
  }
}
.icon-document-add {
  &:before {
    content: $icon-document-add; 
  }
}
.icon-dots-horizontal-double {
  &:before {
    content: $icon-dots-horizontal-double; 
  }
}
.icon-dots-horizontal-triple {
  &:before {
    content: $icon-dots-horizontal-triple; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-duplicate {
  &:before {
    content: $icon-duplicate; 
  }
}
.icon-edit-copy {
  &:before {
    content: $icon-edit-copy; 
  }
}
.icon-edit-crop {
  &:before {
    content: $icon-edit-crop; 
  }
}
.icon-edit-cut {
  &:before {
    content: $icon-edit-cut; 
  }
}
.icon-edit-pencil {
  &:before {
    content: $icon-edit-pencil; 
  }
}
.icon-education {
  &:before {
    content: $icon-education; 
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope; 
  }
}
.icon-exclamation-outline {
  &:before {
    content: $icon-exclamation-outline; 
  }
}
.icon-exclamation-solid {
  &:before {
    content: $icon-exclamation-solid; 
  }
}
.icon-explore {
  &:before {
    content: $icon-explore; 
  }
}
.icon-factory {
  &:before {
    content: $icon-factory; 
  }
}
.icon-fast-forward {
  &:before {
    content: $icon-fast-forward; 
  }
}
.icon-fast-rewind {
  &:before {
    content: $icon-fast-rewind; 
  }
}
.icon-film {
  &:before {
    content: $icon-film; 
  }
}
.icon-filter {
  &:before {
    content: $icon-filter; 
  }
}
.icon-flag {
  &:before {
    content: $icon-flag; 
  }
}
.icon-flashlight {
  &:before {
    content: $icon-flashlight; 
  }
}
.icon-folder {
  &:before {
    content: $icon-folder; 
  }
}
.icon-folder-outline {
  &:before {
    content: $icon-folder-outline; 
  }
}
.icon-folder-outline-add {
  &:before {
    content: $icon-folder-outline-add; 
  }
}
.icon-format-bold {
  &:before {
    content: $icon-format-bold; 
  }
}
.icon-format-font-size {
  &:before {
    content: $icon-format-font-size; 
  }
}
.icon-format-italic {
  &:before {
    content: $icon-format-italic; 
  }
}
.icon-format-text-size {
  &:before {
    content: $icon-format-text-size; 
  }
}
.icon-format-underline {
  &:before {
    content: $icon-format-underline; 
  }
}
.icon-forward {
  &:before {
    content: $icon-forward; 
  }
}
.icon-forward-step {
  &:before {
    content: $icon-forward-step; 
  }
}
.icon-gift {
  &:before {
    content: $icon-gift; 
  }
}
.icon-globe {
  &:before {
    content: $icon-globe; 
  }
}
.icon-hand-stop {
  &:before {
    content: $icon-hand-stop; 
  }
}
.icon-hard-drive {
  &:before {
    content: $icon-hard-drive; 
  }
}
.icon-headphones {
  &:before {
    content: $icon-headphones; 
  }
}
.icon-heart {
  &:before {
    content: $icon-heart; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-hot {
  &:before {
    content: $icon-hot; 
  }
}
.icon-hour-glass {
  &:before {
    content: $icon-hour-glass; 
  }
}
.icon-inbox {
  &:before {
    content: $icon-inbox; 
  }
}
.icon-inbox-check {
  &:before {
    content: $icon-inbox-check; 
  }
}
.icon-inbox-download {
  &:before {
    content: $icon-inbox-download; 
  }
}
.icon-inbox-full {
  &:before {
    content: $icon-inbox-full; 
  }
}
.icon-indent-decrease {
  &:before {
    content: $icon-indent-decrease; 
  }
}
.icon-indent-increase {
  &:before {
    content: $icon-indent-increase; 
  }
}
.icon-information-outline {
  &:before {
    content: $icon-information-outline; 
  }
}
.icon-information-solid {
  &:before {
    content: $icon-information-solid; 
  }
}
.icon-key1 {
  &:before {
    content: $icon-key1; 
  }
}
.icon-keyboard {
  &:before {
    content: $icon-keyboard; 
  }
}
.icon-layers {
  &:before {
    content: $icon-layers; 
  }
}
.icon-library {
  &:before {
    content: $icon-library; 
  }
}
.icon-light-bulb {
  &:before {
    content: $icon-light-bulb; 
  }
}
.icon-link {
  &:before {
    content: $icon-link; 
  }
}
.icon-list {
  &:before {
    content: $icon-list; 
  }
}
.icon-list-add {
  &:before {
    content: $icon-list-add; 
  }
}
.icon-list-bullet {
  &:before {
    content: $icon-list-bullet; 
  }
}
.icon-load-balancer {
  &:before {
    content: $icon-load-balancer; 
  }
}
.icon-location {
  &:before {
    content: $icon-location; 
  }
}
.icon-location-current {
  &:before {
    content: $icon-location-current; 
  }
}
.icon-location-food {
  &:before {
    content: $icon-location-food; 
  }
}
.icon-location-gas-station {
  &:before {
    content: $icon-location-gas-station; 
  }
}
.icon-location-hotel {
  &:before {
    content: $icon-location-hotel; 
  }
}
.icon-location-marina {
  &:before {
    content: $icon-location-marina; 
  }
}
.icon-location-park {
  &:before {
    content: $icon-location-park; 
  }
}
.icon-location-restroom {
  &:before {
    content: $icon-location-restroom; 
  }
}
.icon-location-shopping {
  &:before {
    content: $icon-location-shopping; 
  }
}
.icon-lock-closed {
  &:before {
    content: $icon-lock-closed; 
  }
}
.icon-lock-open {
  &:before {
    content: $icon-lock-open; 
  }
}
.icon-map {
  &:before {
    content: $icon-map; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-mic {
  &:before {
    content: $icon-mic; 
  }
}
.icon-minus-outline {
  &:before {
    content: $icon-minus-outline; 
  }
}
.icon-minus-solid {
  &:before {
    content: $icon-minus-solid; 
  }
}
.icon-mobile-devices {
  &:before {
    content: $icon-mobile-devices; 
  }
}
.icon-mood-happy-outline {
  &:before {
    content: $icon-mood-happy-outline; 
  }
}
.icon-mood-happy-solid {
  &:before {
    content: $icon-mood-happy-solid; 
  }
}
.icon-mood-neutral-outline {
  &:before {
    content: $icon-mood-neutral-outline; 
  }
}
.icon-mood-neutral-solid {
  &:before {
    content: $icon-mood-neutral-solid; 
  }
}
.icon-mood-sad-outline {
  &:before {
    content: $icon-mood-sad-outline; 
  }
}
.icon-mood-sad-solid {
  &:before {
    content: $icon-mood-sad-solid; 
  }
}
.icon-mouse {
  &:before {
    content: $icon-mouse; 
  }
}
.icon-music-album {
  &:before {
    content: $icon-music-album; 
  }
}
.icon-music-artist {
  &:before {
    content: $icon-music-artist; 
  }
}
.icon-music-notes {
  &:before {
    content: $icon-music-notes; 
  }
}
.icon-music-playlist {
  &:before {
    content: $icon-music-playlist; 
  }
}
.icon-navigation-more {
  &:before {
    content: $icon-navigation-more; 
  }
}
.icon-network {
  &:before {
    content: $icon-network; 
  }
}
.icon-news-paper {
  &:before {
    content: $icon-news-paper; 
  }
}
.icon-notification {
  &:before {
    content: $icon-notification; 
  }
}
.icon-notifications {
  &:before {
    content: $icon-notifications; 
  }
}
.icon-notifications-outline {
  &:before {
    content: $icon-notifications-outline; 
  }
}
.icon-paste {
  &:before {
    content: $icon-paste; 
  }
}
.icon-pause {
  &:before {
    content: $icon-pause; 
  }
}
.icon-pause-outline {
  &:before {
    content: $icon-pause-outline; 
  }
}
.icon-pause-solid {
  &:before {
    content: $icon-pause-solid; 
  }
}
.icon-pen-tool {
  &:before {
    content: $icon-pen-tool; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-photo {
  &:before {
    content: $icon-photo; 
  }
}
.icon-php-elephant {
  &:before {
    content: $icon-php-elephant; 
  }
}
.icon-pin {
  &:before {
    content: $icon-pin; 
  }
}
.icon-play {
  &:before {
    content: $icon-play; 
  }
}
.icon-play-outline {
  &:before {
    content: $icon-play-outline; 
  }
}
.icon-playlist {
  &:before {
    content: $icon-playlist; 
  }
}
.icon-plugin {
  &:before {
    content: $icon-plugin; 
  }
}
.icon-portfolio {
  &:before {
    content: $icon-portfolio; 
  }
}
.icon-printer {
  &:before {
    content: $icon-printer; 
  }
}
.icon-pylon {
  &:before {
    content: $icon-pylon; 
  }
}
.icon-question {
  &:before {
    content: $icon-question; 
  }
}
.icon-queue {
  &:before {
    content: $icon-queue; 
  }
}
.icon-radar {
  &:before {
    content: $icon-radar; 
  }
}
.icon-radarcopy2 {
  &:before {
    content: $icon-radarcopy2; 
  }
}
.icon-radio {
  &:before {
    content: $icon-radio; 
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh; 
  }
}
.icon-reload {
  &:before {
    content: $icon-reload; 
  }
}
.icon-reply {
  &:before {
    content: $icon-reply; 
  }
}
.icon-reply-all {
  &:before {
    content: $icon-reply-all; 
  }
}
.icon-repost {
  &:before {
    content: $icon-repost; 
  }
}
.icon-save-disk {
  &:before {
    content: $icon-save-disk; 
  }
}
.icon-screen-full {
  &:before {
    content: $icon-screen-full; 
  }
}
.icon-search1 {
  &:before {
    content: $icon-search1; 
  }
}
.icon-send1 {
  &:before {
    content: $icon-send1; 
  }
}
.icon-servers {
  &:before {
    content: $icon-servers; 
  }
}
.icon-share {
  &:before {
    content: $icon-share; 
  }
}
.icon-share-01 {
  &:before {
    content: $icon-share-01; 
  }
}
.icon-share-alt {
  &:before {
    content: $icon-share-alt; 
  }
}
.icon-shield {
  &:before {
    content: $icon-shield; 
  }
}
.icon-shopping-cart {
  &:before {
    content: $icon-shopping-cart; 
  }
}
.icon-show-sidebar {
  &:before {
    content: $icon-show-sidebar; 
  }
}
.icon-shuffle {
  &:before {
    content: $icon-shuffle; 
  }
}
.icon-stand-by {
  &:before {
    content: $icon-stand-by; 
  }
}
.icon-star-full {
  &:before {
    content: $icon-star-full; 
  }
}
.icon-station {
  &:before {
    content: $icon-station; 
  }
}
.icon-step-backward {
  &:before {
    content: $icon-step-backward; 
  }
}
.icon-step-forward {
  &:before {
    content: $icon-step-forward; 
  }
}
.icon-stethoscope {
  &:before {
    content: $icon-stethoscope; 
  }
}
.icon-store-front {
  &:before {
    content: $icon-store-front; 
  }
}
.icon-stroke-width {
  &:before {
    content: $icon-stroke-width; 
  }
}
.icon-subdirectory-left {
  &:before {
    content: $icon-subdirectory-left; 
  }
}
.icon-subdirectory-right {
  &:before {
    content: $icon-subdirectory-right; 
  }
}
.icon-swap {
  &:before {
    content: $icon-swap; 
  }
}
.icon-tablet {
  &:before {
    content: $icon-tablet; 
  }
}
.icon-tag {
  &:before {
    content: $icon-tag; 
  }
}
.icon-target {
  &:before {
    content: $icon-target; 
  }
}
.icon-text-box {
  &:before {
    content: $icon-text-box; 
  }
}
.icon-text-decoration {
  &:before {
    content: $icon-text-decoration; 
  }
}
.icon-thermometer {
  &:before {
    content: $icon-thermometer; 
  }
}
.icon-thumbs-down {
  &:before {
    content: $icon-thumbs-down; 
  }
}
.icon-thumbs-up {
  &:before {
    content: $icon-thumbs-up; 
  }
}
.icon-ticket {
  &:before {
    content: $icon-ticket; 
  }
}
.icon-time {
  &:before {
    content: $icon-time; 
  }
}
.icon-timer {
  &:before {
    content: $icon-timer; 
  }
}
.icon-toolscopy {
  &:before {
    content: $icon-toolscopy; 
  }
}
.icon-translate {
  &:before {
    content: $icon-translate; 
  }
}
.icon-trash {
  &:before {
    content: $icon-trash; 
  }
}
.icon-travel {
  &:before {
    content: $icon-travel; 
  }
}
.icon-travel-bus {
  &:before {
    content: $icon-travel-bus; 
  }
}
.icon-travel-car {
  &:before {
    content: $icon-travel-car; 
  }
}
.icon-travel-case {
  &:before {
    content: $icon-travel-case; 
  }
}
.icon-travel-taxi-cab {
  &:before {
    content: $icon-travel-taxi-cab; 
  }
}
.icon-travel-train {
  &:before {
    content: $icon-travel-train; 
  }
}
.icon-travel-walk {
  &:before {
    content: $icon-travel-walk; 
  }
}
.icon-trophy {
  &:before {
    content: $icon-trophy; 
  }
}
.icon-tuning {
  &:before {
    content: $icon-tuning; 
  }
}
.icon-upload {
  &:before {
    content: $icon-upload; 
  }
}
.icon-usb {
  &:before {
    content: $icon-usb; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-user-add {
  &:before {
    content: $icon-user-add; 
  }
}
.icon-user-group {
  &:before {
    content: $icon-user-group; 
  }
}
.icon-user-solid-circle {
  &:before {
    content: $icon-user-solid-circle; 
  }
}
.icon-user-solid-square {
  &:before {
    content: $icon-user-solid-square; 
  }
}
.icon-vector {
  &:before {
    content: $icon-vector; 
  }
}
.icon-video-camera {
  &:before {
    content: $icon-video-camera; 
  }
}
.icon-view-carousel {
  &:before {
    content: $icon-view-carousel; 
  }
}
.icon-view-column {
  &:before {
    content: $icon-view-column; 
  }
}
.icon-view-hide {
  &:before {
    content: $icon-view-hide; 
  }
}
.icon-view-list {
  &:before {
    content: $icon-view-list; 
  }
}
.icon-view-show {
  &:before {
    content: $icon-view-show; 
  }
}
.icon-view-tile {
  &:before {
    content: $icon-view-tile; 
  }
}
.icon-volume-down {
  &:before {
    content: $icon-volume-down; 
  }
}
.icon-volume-mute {
  &:before {
    content: $icon-volume-mute; 
  }
}
.icon-volume-off {
  &:before {
    content: $icon-volume-off; 
  }
}
.icon-volume-up {
  &:before {
    content: $icon-volume-up; 
  }
}
.icon-wallet {
  &:before {
    content: $icon-wallet; 
  }
}
.icon-watch {
  &:before {
    content: $icon-watch; 
  }
}
.icon-window {
  &:before {
    content: $icon-window; 
  }
}
.icon-window-new {
  &:before {
    content: $icon-window-new; 
  }
}
.icon-window-open {
  &:before {
    content: $icon-window-open; 
  }
}
.icon-wrench {
  &:before {
    content: $icon-wrench; 
  }
}
.icon-yin-yang {
  &:before {
    content: $icon-yin-yang; 
  }
}
.icon-zoom-in {
  &:before {
    content: $icon-zoom-in; 
  }
}
.icon-zoom-out {
  &:before {
    content: $icon-zoom-out; 
  }
}

