$icomoon-font-family: "totalpass-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-check-circle-path1: "\e901";
$icon-check-circle-path2: "\e902";
$icon-cog: "\e903";
$icon-error-circle-path1: "\e904";
$icon-error-circle-path2: "\e905";
$icon-key: "\e906";
$icon-money: "\e909";
$icon-nfe-path1: "\e90a";
$icon-nfe-path2: "\e90b";
$icon-nfe-path3: "\e90c";
$icon-nfe-path4: "\e90d";
$icon-nfe-path5: "\e90e";
$icon-pen-circle-path1: "\e910";
$icon-pen-circle-path2: "\e911";
$icon-person: "\e912";
$icon-plus: "\e919";
$icon-plus-circle: "\e91a";
$icon-search: "\e91b";
$icon-send-path1: "\e91c";
$icon-send-path2: "\e91d";
$icon-shutdown: "\e91e";
$icon-upload-circle: "\e91f";
$icon-add-outline: "\e920";
$icon-add-solid: "\e921";
$icon-adjust: "\e922";
$icon-airplane: "\e923";
$icon-album: "\e924";
$icon-align-center: "\e925";
$icon-align-justified: "\e926";
$icon-align-left: "\e927";
$icon-align-right: "\e928";
$icon-anchor: "\e929";
$icon-announcement: "\e92a";
$icon-apparel: "\e92b";
$icon-arrow-down: "\e92c";
$icon-arrow-left1: "\e92d";
$icon-arrow-outline-down: "\e92e";
$icon-arrow-outline-left: "\e92f";
$icon-arrow-outline-right: "\e930";
$icon-arrow-outline-up: "\e931";
$icon-arrow-right: "\e932";
$icon-arrow-thick-down: "\e933";
$icon-arrow-thick-left: "\e934";
$icon-arrow-thick-right: "\e935";
$icon-arrow-thick-up: "\e936";
$icon-arrow-thin-down: "\e937";
$icon-arrow-thin-left: "\e938";
$icon-arrow-thin-right: "\e939";
$icon-arrow-thin-up: "\e93a";
$icon-arrow-up: "\e93b";
$icon-artist: "\e93c";
$icon-at-symbol: "\e93d";
$icon-attachment: "\e93e";
$icon-backspace: "\e93f";
$icon-backward: "\e940";
$icon-backward-step: "\e941";
$icon-badge: "\e942";
$icon-battery-full: "\e943";
$icon-battery-half: "\e944";
$icon-battery-low: "\e945";
$icon-beverage: "\e946";
$icon-block: "\e947";
$icon-bluetooth: "\e948";
$icon-bolt: "\e949";
$icon-book-reference: "\e94a";
$icon-bookmark: "\e94b";
$icon-bookmarkcopy2: "\e94c";
$icon-bookmarkcopy3: "\e94d";
$icon-bookmark-outline: "\e94e";
$icon-bookmark-outline-add: "\e94f";
$icon-border-all: "\e950";
$icon-border-bottom: "\e951";
$icon-border-horizontal: "\e952";
$icon-border-inner: "\e953";
$icon-border-left: "\e954";
$icon-border-none: "\e955";
$icon-border-outer: "\e956";
$icon-border-right: "\e957";
$icon-border-top: "\e958";
$icon-border-vertical: "\e959";
$icon-box: "\e95a";
$icon-brightness-down: "\e95b";
$icon-brightness-up: "\e95c";
$icon-browser-window: "\e95d";
$icon-browser-window-new: "\e95e";
$icon-browser-window-open: "\e95f";
$icon-bug: "\e960";
$icon-buoy: "\e961";
$icon-calculator: "\e962";
$icon-calendar: "\e963";
$icon-camera: "\e964";
$icon-chart: "\e965";
$icon-chart-bar: "\e966";
$icon-chart-pie: "\e967";
$icon-chat-bubble-dots: "\e968";
$icon-checkmark: "\e969";
$icon-checkmark-outline: "\e96a";
$icon-cheveron-down: "\e96b";
$icon-cheveron-left: "\e96c";
$icon-cheveron-outline-down: "\e96d";
$icon-cheveron-outline-left: "\e96e";
$icon-cheveron-outline-right: "\e96f";
$icon-cheveron-outline-up: "\e970";
$icon-cheveron-right: "\e971";
$icon-cheveron-up: "\e972";
$icon-clipboard: "\e973";
$icon-close: "\e974";
$icon-close-outline: "\e975";
$icon-close-solid: "\e976";
$icon-cloud: "\e977";
$icon-cloud-upload: "\e978";
$icon-code: "\e979";
$icon-coffee: "\e97a";
$icon-cog1: "\e97b";
$icon-color-palette: "\e97c";
$icon-compose: "\e97d";
$icon-computer-desktop: "\e97e";
$icon-computer-laptop: "\e97f";
$icon-conversation: "\e980";
$icon-copy: "\e981";
$icon-credit-card: "\e982";
$icon-currency-dollar: "\e983";
$icon-dashboard: "\e984";
$icon-date-add: "\e985";
$icon-dial-pad: "\e986";
$icon-directions: "\e987";
$icon-document: "\e988";
$icon-document-add: "\e989";
$icon-dots-horizontal-double: "\e98a";
$icon-dots-horizontal-triple: "\e98b";
$icon-download: "\e98c";
$icon-duplicate: "\e98d";
$icon-edit-copy: "\e98e";
$icon-edit-crop: "\e98f";
$icon-edit-cut: "\e990";
$icon-edit-pencil: "\e991";
$icon-education: "\e992";
$icon-envelope: "\e993";
$icon-exclamation-outline: "\e994";
$icon-exclamation-solid: "\e995";
$icon-explore: "\e996";
$icon-factory: "\e997";
$icon-fast-forward: "\e998";
$icon-fast-rewind: "\e999";
$icon-film: "\e99a";
$icon-filter: "\e99b";
$icon-flag: "\e99c";
$icon-flashlight: "\e99d";
$icon-folder: "\e99e";
$icon-folder-outline: "\e99f";
$icon-folder-outline-add: "\e9a0";
$icon-format-bold: "\e9a1";
$icon-format-font-size: "\e9a2";
$icon-format-italic: "\e9a3";
$icon-format-text-size: "\e9a4";
$icon-format-underline: "\e9a5";
$icon-forward: "\e9a6";
$icon-forward-step: "\e9a7";
$icon-gift: "\e9a8";
$icon-globe: "\e9a9";
$icon-hand-stop: "\e9aa";
$icon-hard-drive: "\e9ab";
$icon-headphones: "\e9ac";
$icon-heart: "\e9ad";
$icon-home: "\e9ae";
$icon-hot: "\e9af";
$icon-hour-glass: "\e9b0";
$icon-inbox: "\e9b1";
$icon-inbox-check: "\e9b2";
$icon-inbox-download: "\e9b3";
$icon-inbox-full: "\e9b4";
$icon-indent-decrease: "\e9b5";
$icon-indent-increase: "\e9b6";
$icon-information-outline: "\e9b7";
$icon-information-solid: "\e9b8";
$icon-key1: "\e9b9";
$icon-keyboard: "\e9ba";
$icon-layers: "\e9bb";
$icon-library: "\e9bc";
$icon-light-bulb: "\e9bd";
$icon-link: "\e9be";
$icon-list: "\e9bf";
$icon-list-add: "\e9c0";
$icon-list-bullet: "\e9c1";
$icon-load-balancer: "\e9c2";
$icon-location: "\e9c3";
$icon-location-current: "\e9c4";
$icon-location-food: "\e9c5";
$icon-location-gas-station: "\e9c6";
$icon-location-hotel: "\e9c7";
$icon-location-marina: "\e9c8";
$icon-location-park: "\e9c9";
$icon-location-restroom: "\e9ca";
$icon-location-shopping: "\e9cb";
$icon-lock-closed: "\e9cc";
$icon-lock-open: "\e9cd";
$icon-map: "\e9ce";
$icon-menu: "\e9cf";
$icon-mic: "\e9d0";
$icon-minus-outline: "\e9d1";
$icon-minus-solid: "\e9d2";
$icon-mobile-devices: "\e9d3";
$icon-mood-happy-outline: "\e9d4";
$icon-mood-happy-solid: "\e9d5";
$icon-mood-neutral-outline: "\e9d6";
$icon-mood-neutral-solid: "\e9d7";
$icon-mood-sad-outline: "\e9d8";
$icon-mood-sad-solid: "\e9d9";
$icon-mouse: "\e9da";
$icon-music-album: "\e9db";
$icon-music-artist: "\e9dc";
$icon-music-notes: "\e9dd";
$icon-music-playlist: "\e9de";
$icon-navigation-more: "\e9df";
$icon-network: "\e9e0";
$icon-news-paper: "\e9e1";
$icon-notification: "\e9e2";
$icon-notifications: "\e9e3";
$icon-notifications-outline: "\e9e4";
$icon-paste: "\e9e5";
$icon-pause: "\e9e6";
$icon-pause-outline: "\e9e7";
$icon-pause-solid: "\e9e8";
$icon-pen-tool: "\e9e9";
$icon-phone: "\e9ea";
$icon-photo: "\e9eb";
$icon-php-elephant: "\e9ec";
$icon-pin: "\e9ed";
$icon-play: "\e9ee";
$icon-play-outline: "\e9ef";
$icon-playlist: "\e9f0";
$icon-plugin: "\e9f1";
$icon-portfolio: "\e9f2";
$icon-printer: "\e9f3";
$icon-pylon: "\e9f4";
$icon-question: "\e9f5";
$icon-queue: "\e9f6";
$icon-radar: "\e9f7";
$icon-radarcopy2: "\e9f8";
$icon-radio: "\e9f9";
$icon-refresh: "\e9fa";
$icon-reload: "\e9fb";
$icon-reply: "\e9fc";
$icon-reply-all: "\e9fd";
$icon-repost: "\e9fe";
$icon-save-disk: "\e9ff";
$icon-screen-full: "\ea00";
$icon-search1: "\ea01";
$icon-send1: "\ea02";
$icon-servers: "\ea03";
$icon-share: "\ea04";
$icon-share-01: "\ea05";
$icon-share-alt: "\ea06";
$icon-shield: "\ea07";
$icon-shopping-cart: "\ea08";
$icon-show-sidebar: "\ea09";
$icon-shuffle: "\ea0a";
$icon-stand-by: "\ea0b";
$icon-star-full: "\ea0c";
$icon-station: "\ea0d";
$icon-step-backward: "\ea0e";
$icon-step-forward: "\ea0f";
$icon-stethoscope: "\ea10";
$icon-store-front: "\ea11";
$icon-stroke-width: "\ea12";
$icon-subdirectory-left: "\ea13";
$icon-subdirectory-right: "\ea14";
$icon-swap: "\ea15";
$icon-tablet: "\ea16";
$icon-tag: "\ea17";
$icon-target: "\ea18";
$icon-text-box: "\ea19";
$icon-text-decoration: "\ea1a";
$icon-thermometer: "\ea1b";
$icon-thumbs-down: "\ea1c";
$icon-thumbs-up: "\ea1d";
$icon-ticket: "\ea1e";
$icon-time: "\ea1f";
$icon-timer: "\ea20";
$icon-toolscopy: "\ea21";
$icon-translate: "\ea22";
$icon-trash: "\ea23";
$icon-travel: "\ea24";
$icon-travel-bus: "\ea25";
$icon-travel-car: "\ea26";
$icon-travel-case: "\ea27";
$icon-travel-taxi-cab: "\ea28";
$icon-travel-train: "\ea29";
$icon-travel-walk: "\ea2a";
$icon-trophy: "\ea2b";
$icon-tuning: "\ea2c";
$icon-upload: "\ea2d";
$icon-usb: "\ea2e";
$icon-user: "\ea2f";
$icon-user-add: "\ea30";
$icon-user-group: "\ea31";
$icon-user-solid-circle: "\ea32";
$icon-user-solid-square: "\ea33";
$icon-vector: "\ea34";
$icon-video-camera: "\ea35";
$icon-view-carousel: "\ea36";
$icon-view-column: "\ea37";
$icon-view-hide: "\ea38";
$icon-view-list: "\ea39";
$icon-view-show: "\ea3a";
$icon-view-tile: "\ea3b";
$icon-volume-down: "\ea3c";
$icon-volume-mute: "\ea3d";
$icon-volume-off: "\ea3e";
$icon-volume-up: "\ea3f";
$icon-wallet: "\ea40";
$icon-watch: "\ea41";
$icon-window: "\ea42";
$icon-window-new: "\ea43";
$icon-window-open: "\ea44";
$icon-wrench: "\ea45";
$icon-yin-yang: "\ea46";
$icon-zoom-in: "\ea47";
$icon-zoom-out: "\ea48";

